<!DOCTYPE html>

<html>
<head>
  <meta charset="utf-8" />
  <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>

  <header id="header">
    <div class="cc">

      <hgroup id="logo">
        <h1>3x3</h1>
        <h6>for 1.13</h6>
      </hgroup>

      <nav id="nav">
        <a href="#howitworks">How it works</a>
        <a href="#credit">Credit</a>
        <a href="https://github.com/SixSins/3x3">Repo</a>
        <a href="data.json">Raw data</a>
      </nav>

    </div>
  </header>

  <main id="main">
    <div class="cc">
      <h1>Kill your Wither quickly and easily.</h1>
      <section id="app"></section>
    </div>
  </main>

  <article class="article" id="howitworks">
    <div class="cc">
      <h3 id="howitworks">How it works</h1>
      <p>
        If you&rsquo;re looking for a quick and easy Wither kill, you can summon the Wither in the bedrock of the Nether ceiling, suffocating him and preventing him from hurting you. You can hit him all you want and stay completely safe.
      </p>
      <p>
        Sounds too easy to be true, right? Well, there&rsquo;s one catch: you can only spawn him at certain locations in the Nether bedrock to kill him this way&mdash;special places that have a 3x3 square of bedrock at them. This prevents him from being able to see you, damage you, or try to escape.
      </p>
      <p>
        The thing is, all the bedrock spawning in all Minecraft worlds is the exact same! So, we can calculate all the places in the Nether where the bedrock forms a 3x3 square pretty easily.
      </p>
      <p>
        This app works by taking your current coordinates and comparing them with a big list of known 3x3 kill spots within a few thousand blocks of the Nether&rsquo;s (0,0) using simple high school algebra&mdash;the distance forumla! It doesn&rsquo;t actually run the seed calculations; that would take way too long. If you&rsquo;re interested in finding a 3x3 that's more than about 15k blocks from the Nether&rsquo;s (0,0), take a look at the video below.
      </p>
      <h3 id="credit">Credit</h3>
      <p>
        Credit goes to <a href="https://www.youtube.com/user/Panda4994" target="_blank">Panda4994</a> for the idea and for his list of 3x3 coordinates. If you want to know how exactly to kill the Wither quickly like this, watch his video below.
      </p>
      <div class="video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hx4I2zz_6do?rel=0&color=white" frameborder="0" allowfullscreen></iframe>
      </div>
      <h3>Ideas?</h3>
      <p>Submit an issue or pull request over on the GitHub repository!</h3>
      <h3>Contact</h3>
      <p>I&rsquo;m pretty active on both Reddit (/u/SixSinsMC) and Discord (SixSins#0819).</p>
    </div>
  </article>

  <footer id="footer">
    <div class="cc">
      Copyright &copy; 2017 by the online identity SixSins. Released under the MIT license.
    </div>
  </footer>

</body>

</html>
