@import url('https://fonts.googleapis.com/css?family=Abel|Roboto:300');
@import "reset";

$bb-font-size: 18px;
$bb-line-size: 27px;
$bb-type-scale: 1.250;

@import "bitbox";

// https://flatuicolors.com/palette/gb
$mazarine-blue: #273c75;
$pico-void: #192a56;
$electromagnetic: #2f3640;
$lynx-white: #f5f6fa;
$hint-of-pensive: #dcdde1;

@mixin font-body
{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

@mixin font-logo
{
  font-family: "Abel", sans-serif;
  font-weight: normal;
}

@mixin font-title
{
  font-family: "Abel", sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

@mixin font-interface
{
  font-family: "Abel", sans-serif;
  font-weight: normal;
}

@mixin font-heading
{
  font-family: "Abel", sans-serif;
  font-weight: normal;
}

@mixin desktop
{
  @media only screen and (min-width: em(650px))
  {
    @content;
  }
}

@mixin full-width
{
  @media only screen and (min-width: em(1000px))
  {
    @content;
  }
}

*
{
  box-sizing: border-box;
}

body
{
  @include font-body;
  background: $lynx-white;
  color: $electromagnetic;
}

.cc
{
  // width: 100%;
  width: 95%;
  max-width: rem(1250px);
  margin: 0 auto;
    
}

a
{
  text-decoration: none;
  color: $pico-void;

  &:hover
  {
    text-decoration: underline;
    color: $mazarine-blue;
  }
}

#header
{
  padding: bb-size(2) 0;
  background: $mazarine-blue;

  > .cc
  {
    display: flex;
    justify-content: center;
    align-content: center;

    @include desktop
    {
      justify-content: space-between;
    }
  }
  
}

#logo
{
  display: flex;
  flex-direction: column;
  align-items: center;
  @include font-logo;
  color: $lynx-white;

  @include desktop
  {
    flex-direction: row;
  }

  h1
  {
    font-size: bb-size(4);
  }

  h6
  {
    font-size: bb-size(0);

    @include desktop
    {
      margin-left: bb-size(-3);
    }
  }
}

#nav
{
  display: none;

  @include desktop
  {
    @include font-interface;
    display: flex;
    align-items: center;

    a
    {
      display: block;
      margin-left: bb-size(2);
      color: $lynx-white;

      &:hover
      {
        color: lighten($mazarine-blue, 30%);
        text-decoration: none;
      }
    }
  }
}

#main
{
  background: $pico-void;
  color: $lynx-white;
  
  @include desktop
  {
    @include bb-rhythm;
  }

  > .cc
  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: bb-size(2);

    @include full-width
    {
      height: bb-size(16);
    }
  }

  .locator
  {
    width: 100%;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1
  {
    @include font-heading;
    @include bb-scale(1);
    text-align: center;

    @include desktop
    {
      @include bb-scale(3);
    }
  }

  p
  {
    @include font-heading;
    @include bb-scale(0);
    @include bb-spacing;
    text-align: center;

    @include desktop
    {
      @include bb-scale(1);
    }
  }

  .inputForm,
  .output
  {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include desktop
    {
      flex-direction: row;
    }
  }

  input[type="number"],
  input[type="submit"],
  .output div
  {
    @include font-interface;

    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
    
    // display: block;
    border: 0;
    font-size: bb-size(2);
    margin: bb-size(-2) 0;
    padding: bb-size(-2) bb-size(-1);
    // width: available;

    border-radius: bb-size(-1);
    background: $mazarine-blue;
    color: $lynx-white;

    @include desktop
    {
      margin: 0 bb-size(-2);
    }
  }

  input[type="number"]
  {
    &:focus
    {
      outline: none;
      background: lighten($mazarine-blue, 3%);
    }
  }

  input[type="submit"]
  {
    &:hover
    {
      cursor: pointer;
      background: lighten($mazarine-blue, 3%);
    }
  }

}

.article
{
  @include bb-rhythm;
  padding: bb-size(1) 0;

  @include desktop
  {
    padding: bb-size(4) 0;
  }

  h3
  {
    @include font-heading;
    @include bb-spacing;
    @include bb-scale(2);
    text-align: center;
    color: $pico-void;

    @include desktop
    {
      @include bb-scale(3);
    }
  }

  p
  {
    @include bb-spacing;
    max-width: rem(650px);
    margin-left: auto;
    margin-right: auto;
  }

  a
  {
    color: $mazarine-blue;
    text-decoration: underline;
  }

  .video
  {
    @include bb-spacing;
    display: none;
    max-width: rem(650px);
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    @include desktop
    {
      display: block;
    }
  }
}

#footer
{
  padding: bb-size(0);
  font-size: bb-size(-1);
  background: $pico-void;
  color: $lynx-white;
  text-align: center;
}

@-ms-viewport{
  width: device-width;
}
